*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    height: 100vh;
    background: #f3f3f3;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1.2rem;
    /* position: relative; */
}
.heading{
    /* border: 2px solid blue; */
    display: grid;
    place-items: center;
    padding: 10px;
    background: rgba(190, 190, 190, 0.653);
    width: 100%;
}
.generate{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
   /* width: 100%; */
   gap: 1rem;
}
.generate input{
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 10px;
    /* border: none; */
    /* border: 2px; */
}
.i-class{
    display: flex;
    flex-direction: column;
}
.i-class .error{
    font-size: 0.8rem;
    padding: 3px 0px 0px 10px;
    color: #f81542;
}
.input-control-s{
    outline: none;
    border:2px solid #09c372;
}
.input-control-e{
    outline: none;
    border:2px solid #f81542;
}
.generate input::placeholder{
    font-size: 0.9rem;
}
.hide{
    display: none;
}

.generate button{
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    /* width: 60%; */
}
#c_generate{
    background: rgb(41, 57, 194);
    color: #f3f3f3;
    border: none;
}
#generate{
    background:rgb(16, 199, 16);
    color: #f3f3f3;
    border: none;
}
.colors{
    width: 100%;
    /* border: 2px solid yellow; */
    flex: 1;
    display: flex;
    flex-direction: column;
}
.color p{
    font-size: 1rem;
    font-weight: bold;
    width: 80px;
    margin-top: 10px;
    border-radius: 0px 5px 5px 0px;
    padding: 5px;
    background: #f3f3f3;
    text-align: start;
    cursor: pointer;
    display: none;
    position: relative;
}
.color p::after{
    content: "Clip to Clipboard";
    top: 100%;  
    left: 70%; 
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    background: rgb(118, 118, 118);
    color: #fefefeb3;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.6rem;
    font-weight: 100;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    /* z-index: 1; */
}
.color p:hover::after{
    visibility: visible;
    opacity: 1;
}
.color p.active::after {
    content: "Copied";
    opacity: 1;
    visibility: visible;
}
.color:hover p{
    display: inline-block;
}
.color1{
    background: red;
    flex: 1;
}
.color2{
    background: rgb(255, 0, 217);
    flex: 1;
}
.color3{
    background: rgb(47, 255, 0);
    flex: 1;
}
.color4{
    background: rgb(255, 191, 0);
    flex: 1;
}
.center-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.custom{
    width: 40%;
    background: red;
    height: 40vh;
}
@media(max-width:900px){
    .colors{
        flex-direction: row;
    }
    .center-div{
        width: 70%;
        /* height: 30vh; */
        display: flex;
        /* border: 2px solid blue; */
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    }
    .custom{
        width: 100%;
        background: red;
    }
}